{% extends 'main.html' %}

{% block content %}
    
    <div class="password-reset-container h-75 mt-4 pt-4 d-flex justify-content-center">
        <div class="flex-item">
            <h3>Password reset sent</h3>
            <P>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

            <br><br>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                
            </P>
        </div>
    </div>
    
{% endblock content %}